@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  @apply font-inter;
  background-image: url("../../../public/images/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    rgba(0, 96, 214, 0.87),
    rgba(8, 83, 196, 0.88),
    #04327c,
    #032459
  );
  z-index: -1;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#navDashboard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    -90deg,
    rgba(8, 83, 196, 0.88),
    #04327c,
    #032459
  );
  pointer-events: none;
}

.text-shadow {
  text-shadow: -5px 5px 0 rgba(56, 56, 56, 0.21);
}
